<!doctype html>
<html>
<head>
<title>Cable</title>
</head>

<body>

  <style>
      html{
      margin: 0;
      padding: 0;
      background-color: grey;
      }
  </style>

<h1>Cable Bill payment page</h1>
<h3>pay your cable Bill</h3>

<form action='#' method='post'>


<div class="note">
<span>

<select name="operator">
<option value="incable digital TV">incable digital TV</option>
<option value="Ucn TV">UCN TV</option>
<option value="Dish TV">Dish Tv</option>
<option value="Big Tv">Big Tv</option>

</select>

</span>
</div>


<label>Enter Customer id</label>
<input type="text" name="cid">
<input type="submit" name="submit" value="proceed">


</form>


</body>

</html>
