<!doctype html>
<html>
<head>
<title>DTH</title>
</head>

<body>

<style type="text/css">
<!--
.style1 {font-family: "Times New Roman", Times, serif}
html{
margin: 0;
padding: 0;
background-color: grey;
}
-->
</style>

<h1>Dth Bill payment page</h1>

<form action='#' method='post'>
Username: <input type="text" name="username">

<div class="note">
<span>

<select name="operator">
<option value="Dish TV">DISH TV</option>
<option value="Reliance TV">Reliance TV</option>
<option value="Airtel">Airtel Digital TV</option>
<option value="Sun Direct">Sun Direct</option>
<option value="TATA">TATA SKy</option>
</select>

</span>
</div>

<label for="dth">Enter your DTH number</label>
<input type="number" name="dth_number">

<input type="submit" name="submit" value="proceed">


</form>


</body>

</html>
